/*For the error message in the form*/
#msg, #msg2, #msg3, #msg4{
    color: red;
}

body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
}

/*The app that adds, displays, delete, and updates content*/
.app{
    background-color: #fff;
    width: 300px;
    height: 500px;
    border: 5px solid #4ed6ee;
    border-radius: 8px;
    padding: 15px;
    margin-left: 100px;
}

#addExercise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(161, 193, 206, 0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus{
    background-color: #4ed6ee;
    padding: 3px;
    border-radius: 3px;
}

/*The following 2 create cards for our tasks*/
/*This one is the foundation*/
#exercises {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

/*These are for the cards */
#exercises div{
    border: 3px solid #4ed6ee;
    background-color: #cfe4f0;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

/*The delete and edit options*/
#exercises div .options{
    justify-self: center;
    display: flex;
    gap: 20px;
}

#exercises div .options i{
    cursor: pointer;
}

@media only screen and (max-width: 980px) {
    #home{
        align-items: center;
    }
    .app{
        width: 800px;
        height: 1100px;
        border: 10px solid #4ed6ee;
        margin-left: 90px;
    }
    #addExercise{
        height: 80px;
        font-size: 50px;
    }
    #muscleTitle{
        font-size: 2.5cm;
    }
    #exercisesH3{
        font-size: 2cm;
    }
    #exercises div{
        font-size: 40px;
    }
}