#msg, #msg2, #msg3, #msg4{
    color: red;
}

body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
    /*display: flex; /*This squeezes the content in the site
    justify-content: center; /*This places the content in the center
    align-items: center;
    height: 100vh;/*This lowers the content from the top*/
}

.app{
    background-color: #fff;
    width: 300px;
    height: 500px;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
}

/*The following 2 create cards for our tasks*/
#exercises {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#exercises div{
    border: 3px solid #abcea1;
    background-color: #e2eede;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

/**/
#exercises div .options{
    justify-self: center;
    display: flex;
    gap: 20px;
}

#exercises div .options i{
    cursor: pointer;
}