/*Modal background*/
.modal{
    display: none; /*Hidden*/
    position: fixed;
    z-index: 2;/*Sit in the middle*/
    left: 0;
    top: 0;
    width: 100%; /*Full width*/
    height: 100%; /*Full height*/
    overflow: auto;/*Enable auto scroll*/
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/*Content in the modal*/
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/*The close button*/
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#msg, #msg2, #msg3, #msg4{
    color: red;
}

body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
    /*display: flex; /*This squeezes the content in the site
    justify-content: center; /*This places the content in the center
    align-items: center;
    height: 100vh;/*This lowers the content from the top*/
}

.app{
    background-color: #fff;
    width: 300px;
    height: 500px;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
}